/*!
Main Calendar CSS File
Importing all calendar css files here
*/
@import "daygrid.css";
@import "timegrid.css";
@import "core.css";

head th {
  border: none;
}

.fc-widget-header {
  border: none !important;
}

.fc-widget-content {

  border-left: 0 !important;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 55px;
}

.fc-center {
  margin: 0 auto;
}

.fc-timeGridDay-button,
.fc-timeGridWeek-button,
.fc-timeGridMonth-button {
  height: 36px;
  padding: 0 10px;
  background: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
}

.fc-timeGridDay-button:hover,
.fc-timeGridWeek-button:hover,
.fc-timeGridMonth-button:hover {
  height: 36px;
  padding: 0 10px;
  background: var(--main-bg-color);
  border-color: var(--secondary-bg-color);
}

.fc-button-active {
  background: var(--main-bg-color);
}

.fc-left {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 55px;
  margin-left: 10px;
}

.fc-right {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 55px;
  margin-right: 10px;
  cursor: default;
}

.control-bar {
  background: var(--main-bg-color) !important;
}

.main {
  width: 100% !important;
}

.boards-container {
  height: 100% !important;
}

.fc-toolbar {
  background: var(--main-bg-color);
  padding: 5px 10px;
}

.fc-button .fc-icon {
  font-size: 17px;
  margin-top: -2px;
}

.fc-button-primary,
.fc-button-primary .fc-button-primary:hover {
  background-color: var(--secondary-bg-color);
  outline: none;

  transition: .2s;
}

.fc-button-primary:active,
.fc-button-primary:active {
  background-color: var(--secondary-bg-color) !important;
  outline: none !important;
  transition: .2s;
  ;
}

.fc-next-button,
.fc-prev-button {
  width: 26px;
  height: 26px;
  padding: 0;
  background: var(--main-bg-color);
  border-color: var(--secondary-bg-color);
}

.fc-today-button {
  padding: 0 7px;
  font-size: 14px;
  height: 26px;
  text-transform: capitalize;
  background: var(--main-bg-color) !important;
  border-color: var(--secondary-bg-color) !important;
}

.fc-today span {
  color: #ddd;
  background: #dc3545;
  border-radius: 100px;
  height: 20px;
  width: 25px;
  text-align: center;
  padding: 0 0 5px 0 !important;
  margin: 5px;
}

.fc-button .fc-icon {
  font-size: 1em;
  margin-top: -5px;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  background-color: var(--main-bg-color);
  border-color: var(--secondary-bg-color);
  padding: 4PX 0.65em;
}


.fc-other-month {
  background: #31302c;
}

.fc-bg td {
  border-color: #4e4e4e;
  cursor: default;
  transition: .2s;
}

.fc-bg td:hover {
  background: #31302c;
  transition: .2s;
}

.fc-unthemed td.fc-today {
  background: #151515;
}

.compose {
  padding-top: 3px !important;
}

.compose img {
  margin-top: -2px !important;
}