<!-- AIKO AI, LLC. ALL RIGHTS RESERVED -->
<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
</head>

<body class="bg">
	<div id="app" class="inline-flex">
        <draggable v-model="emails" :list="emails" group="board-emails">
            <transition-group>
                <div :key="email.id" v-for="email in emails">{{email.text}}</div>
            </transition-group>
        </draggable>
        <draggable v-model="emailsDos" :list="emailsDos" group="board-emails">
            <transition-group>
                <div :key="email.id" v-for="email in emailsDos">{{email.text}}</div>
            </transition-group>
        </draggable>
    </div>

	<!-- END id="app" -------------------------------------------------->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script> window.$ = window.jQuery = require('jquery') </script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/vue.min.js"></script>
	<script src="assets/js/sortable.min.js"></script>
    <script src="assets/js/vue-draggable.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                emails: [
                    {text: 'hello', id: 1},
                    {text: 'world', id: 2},
                    {text: 'foo', id: 3},
                    {text: 'bar', id: 4},
                ],
                emailsDos: [
                    {text: 'hello', id: 1},
                    {text: 'world', id: 2},
                    {text: 'foo', id: 3},
                    {text: 'bar', id: 4},
                ]
            }
        })
    </script>
</body>

</html>