<!-- AIKO MAIL, INC. ALL RIGHTS RESERVED -->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Aiko AI" />
  <title>Compose</title>
  <link rel="icon" href="assets/img/favicon.png" type="image/png" />
  <link rel="stylesheet" href="assets/css/katex.min.css" />
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/composer.css" />
</head>

<!-- TODO: Make it so that when they close this window, but typed something, system asks "Save as draft?", same with send with no subject, same with no content-->
<!-- TODO: add info on replies before quote like 'on 11/02/2020 rubencharles said:' -->

<body class="bg">
  <div id="app" class="inline-flex" :style="'padding-top: ' + (isFullScreen ? '0' : '25') + 'px;'">
    <!-- THEMES GO HERE -->
    <link v-if="isDarkMode" rel="stylesheet" href="assets/css/dark.css" />
    <link rel="stylesheet" href="assets/css/custom.css">
    <div id="fixed" class="load-page">
      <div class="load-bottom"></div>
    </div>

    <!-- CONTROL BAR -->
    <div :class="{'control-bar': true,'pc': isPC,}" v-if="!isFullScreen">
      <p v-if="isLinux" title="Close" @click="close"></p>
      <!-- Close ------------------------>
      <p v-if="isLinux" title="Minimize" @click="minimize"></p>
      <!-- Minimize ------------------------>
      <p v-if="isLinux" title="Full Screen" @click="fullscreen"></p>
      <!-- Full Screen ------------------------>

      <h1 title="Minimize" @click="minimize">
        <img :src="$root.resolveIcon('assets/icons/top-minimize.png')" width="10" />
      </h1>
      <!-- Minimize ---------->
      <h1 v-if="!isMaximized" title="Maximize" @click="maximize">
        <img :src="$root.resolveIcon('assets/icons/top-expand.png')" width="10" />
      </h1>
      <h1 v-if="isMaximized" title="Unmaximize" @click="unmaximize">
        <img :src="$root.resolveIcon('assets/icons/top-expand.png')" width="10" />
      </h1>
      <!-- Maximize -->
      <h1 title="Close" @click="close">
        <img :src="$root.resolveIcon('assets/icons/top-close.png')" width="10" />
      </h1>
      <!-- Close ---------------->
    </div>

    <!-- TODO: Rig Message BAR  + would be nice if we can click out of it too like a suggestion box-->
    <div class="message-bar" v-if="false">
      <div class="container" style="user-select: none;">
        <div class="row">
          <div class="col-12">
            <h3>This message has no subject.</h3>
            <p>Are you sure you want to send it?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <a class="naked"><span> Go back and edit</span></a>
          </div>
          <div class="col-sm-6" style="text-align: right; padding: 0;">
            <a><img :src="$root.resolveIcon('assets/icons/compose-send.svg')" width="20" /><span>
                Send anyway</span></a>
          </div>
        </div>
      </div>
    </div>

    <!-- START Compose View -->
    <div class="standalone">
      <div class="main-email overflow-h">
        <!-- TODO: Somehow autofocus the 'To' field when composer opens -->
        <chip-input v-model="sendTo" inline-template>
          <div tabindex="-1" @blur="unfocus(true)" @keydown.stop.delete="pressDelete"
            @keydown.stop.enter="completeChipWithSuggest" @keydown.stop.tab="completeChipWithSuggest"
            @keydown.stop.space="completeChip" @keydown.stop.comma="completeChip" @keydown.stop.left="pressLeft"
            @keydown.stop.right="pressRight" @keydown.stop.down="pressDown" @keydown.stop.up="pressUp"
            class="composer-single-field">
            <div @click="activeChip = i" v-for="(chip, i) in value" :class="{
                            'composer-tag-single': true,
                            'active': activeChip == i
                        }">
              <span>{{chip.display || chip.value}}</span>
              <img @click="deleteChip(i)" :src="$root.resolveIcon('assets/icons/grey-x.svg')"
                class="composer-tag-remove" />
            </div>
            <input @click="unfocus(false)" :style="activeChip > -1 ? 'caret-color: transparent' : ''" type="text"
              class="composer-single-field-input" placeholder="To" v-model="term" ref="termInput" />
            <div :style="'left: 0; top: ' + height + 'px'" v-if="focused && term" class="composer-suggestions">
              <p @click="activeSuggestion = i; completeChipWithSuggest()" :class="{
                                    'active': i == activeSuggestion
                                }" v-for="(suggestion, i) in suggestions">
                <span>{{suggestion.name}} </span> {{suggestion.email}}
              </p>
            </div>
          </div>
        </chip-input>

        <chip-input v-model="sendCC" inline-template>
          <div tabindex="-1" @blur="unfocus(true)" @keydown.stop.delete="pressDelete"
            @keydown.stop.enter="completeChipWithSuggest" @keydown.stop.tab="completeChipWithSuggest"
            @keydown.stop.space="completeChip" @keydown.stop.comma="completeChip" @keydown.stop.left="pressLeft"
            @keydown.stop.right="pressRight" @keydown.stop.down="pressDown" @keydown.stop.up="pressUp"
            class="composer-single-field ccspe">
            <div @click="activeChip = i" v-for="(chip, i) in value" :class="{
                            'composer-tag-single': true,
                            'active': activeChip == i
                        }">
              <span>{{chip.value}}</span>
              <img @click="deleteChip(i)" :src="$root.resolveIcon('assets/icons/grey-x.svg')"
                class="composer-tag-remove" />
            </div>
            <input @click="unfocus(false)" :style="activeChip > -1 ? 'caret-color: transparent' : ''" type="text"
              class="composer-single-field-input" placeholder="CC" v-model="term" ref="termInput" />
            <a id="bcc-btn" @click="showBCC = !showBCC">{{showBCC ? '-' : '+'}}BCC</a>
            <div :style="'left: 0; top: ' + height + 'px'" v-if="focused && term" class="composer-suggestions">
              <p @click="activeSuggestion = i; completeChipWithSuggest()" :class="{
                                    'active': i == activeSuggestion
                                }" v-for="(suggestion, i) in suggestions">
                <span>{{suggestion.name}} </span> {{suggestion.email}}
              </p>
            </div>
          </div>
        </chip-input>

        <chip-input v-if="showBCC" v-model="sendBCC" inline-template>
          <div tabindex="-1" @blur="unfocus(true)" @keydown.stop.delete="pressDelete"
            @keydown.stop.enter="completeChipWithSuggest" @keydown.stop.tab="completeChipWithSuggest"
            @keydown.stop.space="completeChip" @keydown.stop.comma="completeChip" @keydown.stop.left="pressLeft"
            @keydown.stop.right="pressRight" @keydown.stop.down="pressDown" @keydown.stop.up="pressUp"
            class="composer-single-field ccspe">
            <div @click="activeChip = i" v-for="(chip, i) in value" :class="{
                            'composer-tag-single': true,
                            'active': activeChip == i
                        }">
              <span>{{chip.value}}</span>
              <img @click="deleteChip(i)" :src="$root.resolveIcon('assets/icons/grey-x.svg')"
                class="composer-tag-remove" />
            </div>
            <input @click="unfocus(false)" :style="activeChip > -1 ? 'caret-color: transparent' : ''" type="text"
              class="composer-single-field-input" placeholder="BCC" v-model="term" ref="termInput" />
            <div :style="'left: 0; top: ' + height + 'px'" v-if="focused && term" class="composer-suggestions">
              <p @click="activeSuggestion = i; completeChipWithSuggest()" :class="{
                                    'active': i == activeSuggestion
                                }" v-for="(suggestion, i) in suggestions">
                <span>{{suggestion.name}} </span>
                {{suggestion.email}}
              </p>
            </div>
          </div>
        </chip-input>

        <div class="composer-single-field">
          <input v-model="subject" type="text" class="composer-single-field-input" placeholder="Subject" />
        </div>
        <!-- TODO: this compose-body div needs to be 100% MINUS the height of all above elements combined, so it is never taller than full height -->
        <aiko-editor ref="editor" inline-template>
          <div class="compose-body">
            <!-- TODO: Rig attachments here, and attachment trash button -->
            <div class="attachments" v-if="attachments?.length > 0">
              <div class="attachment" v-for="attachment in attachments">
                <img :src="$root.resolveIcon('assets/icons/music.svg')">
                <div class="name">{{attachment.filename || 'No Filename'}}</div>
                <div class="size">{{attachment.size.toFilesize()}}</div>
                <a class="att-action" alt="Preview attachment"><img
                    :src="$root.resolveIcon('assets/icons/track.svg')"></a>
                <a class="att-action aa1" alt="Preview attachment"><img
                    :src="$root.resolveIcon('assets/icons/options-trash.svg')"></a>
              </div>
            </div>
            <editor-content class="editor" :editor="editor"></editor-content>
            <bubble-menu class="menububble" :tippy-options="{ duration: 100 }" :editor="editor" v-if="editor">
              <div class="menububble__form" v-if="linkActive">
                <input class="menububble__input" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput"
                  @keydown.enter="
                    editor
                      .chain()
                      .focus()
                      .setLink({ href: linkUrl, target: '_blank' })
                      .run()
                  " @keydown.esc="linkActive = false" />
                <button class="menububble__button comp-btn" @click="
                    editor
                      .chain()
                      .focus()
                      .setLink({ href: linkUrl, target: '_blank' })
                      .run()
                  " type="button">
                  <img :src="$root.resolveIcon('assets/icons/link-3.svg')" />
                </button>
                <button class="menububble__button comp-btn" @click="editor.chain().focus().unsetLink().run()"
                  type="button">
                  <img :src="$root.resolveIcon('assets/icons/close-g.png')" style="padding: 8px" />
                </button>
              </div>

              <div v-else>
                <button :class="{
                    menububble__button: true,
                    'comp-btn': true,
                    'composer-active': editor.isActive('link'),
                  }" @click="
                    linkActive = true;
                    linkUrl = editor.getAttributes('link').href;
                  ">
                  <img :src="$root.resolveIcon('assets/icons/link-3.svg')" />
                </button>
              </div>
            </bubble-menu>

            <div v-if="editor" class="menubar">
              <div class="comp-sep">
                <a :class="{
                    'comp-btn': true,
                    'composer-active': editor.isActive('bold'),
                  }" @click="editor.chain().focus().toggleBold().run()">
                  <img :src="$root.resolveIcon('assets/icons/bold.svg')" />
                </a>
                <a :class="{
                    'comp-btn': true,
                    'composer-active': editor.isActive('italic'),
                  }" @click="editor.chain().focus().toggleItalic().run()">
                  <img :src="$root.resolveIcon('assets/icons/italic.svg')" />
                </a>
                <a :class="{
                    'comp-btn': true,
                    'composer-active': editor.isActive('underline'),
                  }" @click="editor.chain().focus().toggleUnderline().run()">
                  <img :src="$root.resolveIcon('assets/icons/underline.svg')" />
                </a>
              </div>
              <div class="comp-sep">
                <a :class="{
                    'comp-btn': true,
                  }" @click="$root.attachFiles()">
                  <img :src="$root.resolveIcon('assets/icons/badges-attach.svg')" />
                </a>
                <!-- EMOJI  <a class="comp-btn"><img :src="$root.resolveIcon('assets/icons/smile.svg')"></a> -->
              </div>
              <div class="comp-sep">
                <div class="btn-group dropup">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a href="#"><img :src="$root.resolveIcon('assets/icons/t.svg')" width="20" /></a>
                  </button>
                  <div class="dropdown-menu">
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('heading', { level: 1 }),
                      }" @click="editor.chain().focus().toggleHeading({ level: 1 }).run()" href="#"
                      style="padding: 4px 8px !important; margin: auto"><span style="font-size: 20px">Heading
                        1</span></a>
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('heading', { level: 2 }),
                      }" @click="editor.chain().focus().toggleHeading({ level: 2 }).run()" href="#"
                      style="padding: 4px 8px !important; margin: auto"><span style="font-size: 18px">Heading
                        2</span></a>
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('heading', { level: 3 }),
                      }" @click="editor.chain().focus().toggleHeading({ level: 3 }).run()" href="#"
                      style="padding: 4px 8px !important; margin: auto"><span style="font-size: 16px">Heading
                        3</span></a>
                  </div>
                </div>
                <div class="btn-group dropup">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a href="#"><img :src="$root.resolveIcon('assets/icons/align-left.svg')" width="20" /></a>
                  </button>
                  <div class="dropdown-menu">
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive({ textAlign: 'left' }),
                      }" @click="editor.chain().focus().setTextAlign('left').run()" href="#">
                      <img :src="$root.resolveIcon('assets/icons/align-left.svg')" width="20" />
                    </a>
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive({ textAlign: 'center' }),
                      }" @click="editor.chain().focus().setTextAlign('center').run()" href="#">
                      <img :src="$root.resolveIcon('assets/icons/align-center.svg')" width="20" />
                    </a>
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive({ textAlign: 'right' }),
                      }" @click="editor.chain().focus().setTextAlign('right').run()" href="#">
                      <img :src="$root.resolveIcon('assets/icons/align-right.svg')" width="20" />
                    </a>
                  </div>
                </div>
                <div class="btn-group dropup">
                  <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a href="#"><img :src="$root.resolveIcon('assets/icons/list.svg')" width="20" /></a>
                  </button>
                  <div class="dropdown-menu">
                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('bulletList'),
                      }" @click="editor.chain().focus().toggleBulletList().run()" href="#"><img
                        :src="$root.resolveIcon('assets/icons/list.svg')" width="20" /></a>

                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('orderedList'),
                      }" @click="editor.chain().focus().toggleOrderedList().run()" href="#"><img
                        :src="$root.resolveIcon('assets/icons/list-num.svg')" width="20" /></a>

                    <a :class="{
                        'dropdown-item': true,
                        'composer-active': editor.isActive('taskList'),
                      }" @click="editor.chain().focus().toggleTaskList().run()" href="#"><img
                        :src="$root.resolveIcon('assets/icons/check-square.svg')" width="20" /></a>
                  </div>
                </div>
              </div>
              <div class="comp-sep">
                <a :class="{
                    'comp-btn': true,
                    'composer-active': editor.isActive('codeBlock'),
                  }" @click="editor.chain().focus().toggleCodeBlock().run()">
                  <img :src="$root.resolveIcon('assets/icons/code.svg')" />
                </a>
                <a :class="{
                    'comp-btn': true,
                    'composer-active': editor.isActive('blockquote'),
                  }" @click="editor.chain().focus().toggleBlockquote().run()">
                  <img :src="$root.resolveIcon('assets/icons/q.svg')" />
                </a>
              </div>

              <a class="comp-btn" v-if="false">
                <img src="assets/img/zoom.png" class="zoom" />
              </a>
              <div class="btn-group dropup">
                <button type="button">
                  <a><img @click="showInfoModal = true" :src="$root.resolveIcon('assets/icons/info.svg')"
                      width="20" /></a>
                </button>
              </div>
            </div>

            <div class="aiko-modal" v-if="showInfoModal">
              <div class="modal-dialog modal-md">
                <div class="modal-content">
                  <img :src="$root.resolveIcon('assets/icons/grey-x.svg')" @click="showInfoModal = false"
                    class="x-email" />
                  <div class="modal-reg">
                    <h1>The most advanced composer ever has a lot to offer.</h1>
                    <br />
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12">
                          <span>Markdown: </span>
                          <span class="bold-c">*Bold*</span>
                          <span class="italic-c">~Italic~</span>
                          <span class="code-c">Code</span>
                          <span class="quotes-c">Quote</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <span>Code: </span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <span>Advanced Maths: </span>
                        </div>
                      </div>
                    </div>
                    <br />
                    <p class="ns30"></p>
                    <br />
                  </div>
                </div>
              </div>
            </div>






          </div>
        </aiko-editor>

        <div class="compose-bottom">
          <a @click="sendEmail('')"><img :src="$root.resolveIcon('assets/icons/compose-send.svg')" width="20" /><span>
              Send</span></a>
          <label class="switch ml20">
            <input type="checkbox" />
            <span class="slider round eye"></span>
          </label>
          <p class="inline ml5 track-open-label">Track email open</p>
        </div>
      </div>
      <div class="secondary-email" style="padding: 0;">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active nav1" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
              aria-controls="nav-home" aria-selected="true">Templates</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false">Attachments</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <h3>Reply with a template</h3>
            <div class="previous-threads">

              <!-- TODO: This is the template for sidebar templates teehee-->
              <div @click="getTemplate(template.id)" class="tempside" v-for="template in templates">
                <p class="subject">{{template.title}}</p>
                <p class="body">
                  {{template.preview ?? template.id}}
                </p>
              </div>
            </div>

            <!-- TODO: This is the empty state 'no template' teehee the link should go to template tab in settings-->
            <a v-if="templates.length == 0" style="margin-top: 25vh; display: block;" target="_blank">
              <img :src="$root.resolveIcon('assets/icons/settings-templates.svg')" width="18"
                style="margin-top: -1px;" />
              <p class="inline"><b>New template</b></p>

              <p>
                Add email templates in settings to reply to future emails in
                one click.
              </p>
            </a>
          </div>

          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="previous-threads">
              <!-- TODO: This is the attachment area-->
              <h3>Include recently used attachment</h3>
              <a style="display: block;" target="_blank">

                <div class="search">
                  <img :src="$root.resolveIcon('assets/icons/header-search.svg')">
                  <input type="text" v-model="attachmentTerm" placeholder="Search Attachments" />
                </div>
                <p v-if="recentAttachments.length == 0">

                </p>


                <div v-else class="tempside" v-for="attachment in recentAttachments">
                  <p class="subject">{{attachment}}</p>
                  <p class="body">
                    placeholder
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Compose View --------------------------------------->

    <!-- START Toast -->
    <!-- Connection Lost Toast -->
    <div class="aiko-toast" style="display: none;">
      <p class="textinout" style="color: #dc3545 !important;">
        We're having trouble connecting to the internet.
      </p>
      <div class="t-loader-red"><span></span></div>
    </div>

    <!-- IMAP Error Toast -->
    <div class="aiko-toast" style="display: none;">
      <p class="textinout" style="color: #dc3545 !important;">
        We're having issues connecting to your mail provider.
      </p>
      <div class="t-loader-red"><span></span></div>
    </div>

    <!-- Send Email Error Toast -->
    <div class="aiko-toast" style="display: none;">
      <p class="textinout" style="color: #dc3545 !important;">
        We were unable to send your message due to network issues.
      </p>
      <div class="t-loader-red"><span></span></div>
    </div>
    <!-- END Toast --------------------------------------->

    <!-- TODO: Rig UPGRADE MODAL - TRACKER -->
    <div class="aiko-modal" style="display: none;">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <img :src="$root.resolveIcon('assets/icons/grey-x.svg')" data-dismiss="modal" class="x-email" />
          <div class="modal-reg">
            <img v-if="isDarkMode" src="assets/img/logo-white.svg" width="140"
              style="margin-bottom: 15px; margin-top: 10px;" />
            <img v-if="!isDarkMode" src="assets/img/logo.svg" width="140"
              style="margin-bottom: 15px; margin-top: 10px;" />
            <h1>You found a premium feature.</h1>
            <img v-if="isDarkMode" src="assets/img/u-track-black.png" width="200" />
            <img v-if="!isDarkMode" src="assets/img/u-track-white.png" width="200" />
            <br /><br />
            <p style="max-width: 300px; margin: auto; margin-bottom: 10px;">
              Enable <b>email trackers</b> to be notified when your recipient
              has opened your email.
            </p>
            <br />
            <div class="modal-bottom">
              <a class="blue">Get Started</a>
            </div>
            <p class="ns30"></p>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: Rig UPGRADE MODAL - TEMPLATES TEEHEE -->
    <div class="aiko-modal" style="display: none;">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <img :src="$root.resolveIcon('assets/icons/grey-x.svg')" data-dismiss="modal" class="x-email" />
          <div class="modal-reg">
            <img v-if="isDarkMode" src="assets/img/logo-white.svg" width="140"
              style="margin-bottom: 15px; margin-top: 10px;" />
            <img v-if="!isDarkMode" src="assets/img/logo.svg" width="140"
              style="margin-bottom: 15px; margin-top: 10px;" />
            <h1>You found a premium feature.</h1>
            <img v-if="isDarkMode" src="assets/img/u-template-black.png" width="280" />
            <img v-if="!isDarkMode" src="assets/img/u-template-white.png" width="280" />
            <br /><br />
            <p style="max-width: 300px; margin: auto; margin-bottom: 10px;">
              Prepare email templates to reply to future emails in just one
              click.
            </p>
            <br />

            <div class="modal-bottom">
              <a class="blue">Get Started</a>
            </div>
            <p class="ns30"></p>
            <br />
          </div>
        </div>
      </div>
    </div>

    <!-- TODO: Add info to Info modal -->
    <div class="aiko-modal" style="display: none;" id="infoModal">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <img :src="$root.resolveIcon('assets/icons/grey-x.svg')" data-dismiss="modal" class="x-email" />
          <div class="modal-reg">
            <h1>The most advanced composer ever has a lot to offer.</h1>
            <br />
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <span>Markdown: </span>
                  <span class="bold-c">*Bold*</span>
                  <span class="italic-c">~Italic~</span>
                  <span class="code-c">Code</span>
                  <span class="quotes-c">Quote</span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <span>Code: </span>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <span>Advanced Maths: </span>
                </div>
              </div>
            </div>
            <br />
            <p class="ns30"></p>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END id="app" -------------------------------------------------->

  <!-- 3rd party libraries -->
  <script src="assets/js/third-party/jquery.min.js"></script>
  <script>
    window.jQuery = window.$ = require("jquery");
  </script>
  <script src="assets/js/third-party/popper.min.js"></script>
  <script src="assets/js/third-party/bootstrap.min.js"></script>
  <script src="assets/js/third-party/jwt-decode.min.js"></script>
  <script src="assets/js/third-party/jsrsasign.min.js"></script>
  <script src="assets/js/third-party/localforage.min.js"></script>
  <script src="assets/js/third-party/vue.min.js"></script>
  <script src="assets/js/third-party/chrono.min.js"></script>
  <script src="assets/js/third-party/tiptap.min.js"></script>
  <script src="assets/js/third-party/emoji.min.js"></script>
  <script src="assets/js/third-party/katex.min.js"></script>
  <script src="assets/js/third-party/vue-clickaway.min.js"></script>
  <script src="assets/js/third-party/Dwarfhaven.min.js"></script>
  <script src="assets/js/third-party/Grimaldi.min.js"></script>
  <!-- TODO: minify all sources into one js file -->
  <!--! Common -->
  <script src="assets/js/common/icon-definitions.js"></script>
  <script src="assets/js/services/helpers/icons.js"></script>
  <script src="assets/js/cache/satellite.js"></script>
  <script src="assets/js/cache/dwarf-star.js"></script>
  <script src="assets/js/cache/gas-giant.js"></script>
  <script src="assets/js/common/jammer.js"></script>
  <!--? Services -->
  <script src="assets/js/services/workers/ipc.js"></script>
  <script src="assets/js/services/helpers/aiko.js"></script>
  <script src="assets/js/services/helpers/window.js"></script>
  <!--? OAuth -->
  <script src="assets/js/services/oauth/oauth.js"></script>
  <script src="assets/js/services/oauth/goauth.js"></script>
  <script src="assets/js/services/oauth/msoauth.js"></script>
  <!--? Mail-related -->
  <script src="assets/js/services/email/engine.js"></script>
  <script src="assets/js/services/email/mail.js"></script>
  <!-- Composer-specific -->
  <script src="assets/js/services/composer/composer.js"></script>
  <script src="assets/js/services/composer/composer-extensions.js"></script>
  <!--? Calendar -->
  <script src="assets/js/services/calendar/calendar.js"></script>
  <!--? Components -->
  <script src="assets/js/components/chip-input.js"></script>
  <!--! Main/Entrypoint -->
  <script src="assets/js/entrypoints/compose.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js">
  </script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
</body>

</html>