/* AIKO MAIL INC. ALL RIGHTS RESERVED. */

/* Color Declarations */
:root {
  --main-color: #486fff;
  /* Main Aiko accent */
  --main-color-hover: #4366e8;

  --main-bg-color: #312f2e !important;
  /* Sidebar and Header */
  --secondary-bg-color: #21201d !important;
  /* Control bar and picker and search, etc*/
  --secondary-bg-color-hover: #1d1c1a !important;
  /* Control bar and picker and search, etc*/

  --main-text-color: #a0a0a0;
  /* Sidebar, body preview, board title */
  --main-text-color-hover: #8c8c8c !important;

  --dark-text: #fff !important;
  /* Dropdown titles */

  --sidebar-item-bg-color: #21201d !important;
  /* Active and hover in sidebar */

  --email-bg-color: #21201d !important;
  --email-hover-bg-color: #1f1e1a !important;
  --sender-text-color: #c3c3c3 !important;
  --subject-text-color: #fff !important;

  --main-border: solid 1px #171615 !important;

  --placeholder-text-color: #5d5d5d !important;
  /* Global placeholder color */

  --modal-backdrop: #000000b3 !important;
  /* Global modal backdrop */
}

/*  Custom styling */
.settings-main .row{
  box-shadow: 0 6px 13px -10px #0d1016;
}
.plan{
  box-shadow: 0 6px 13px -10px #0d1016;
}
.inbox-switch .inbox2{
  box-shadow: none;
}
.inbox-switch .inbox1{
  box-shadow: none;
}
.inbox-switch .active {
  background: var(--secondary-bg-color) !important;
}

.menubar {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1) !important;
}

.main-email .action {
  background: #151515 !important;
}
.main-email{
  box-shadow: 3px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
.bg {
  background: var(--secondary-bg-color) !important;
}

body {
  background-color: var(--secondary-bg-color) !important;
}

.center-loader {
  background: var(--main-bg-color) !important;
}

.board .dropdown-menu.show {
  box-shadow: 0 1px 9px #0000006e !important;
}

.board {
  box-shadow: 0 0 15px #00000024 !important;
  background: var(--main-bg-color) !important;
  border: none !important;
}

.dropdown-menu,
.dropdown-menu a {
  background-color: var(--main-bg-color) !important;
  transition: 0.2s;
}
.picker:hover {
	box-shadow: 0 0 5px 2px #00000012;
	transition: 0.2s;
}
.notif {
	box-shadow: 0 0 10px #0000003b;
}
.slider:before {
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.27);
	transition: 0.4s;
}
.inbox-switch {
  border: 2px solid var(--secondary-bg-color);
}

.add-board {
  box-shadow: none !important;
}
.modal-bottom {
	box-shadow: inset 0 40px 14px -44px rgba(0, 0, 0, 0.58);
}
.add-board img {
  filter: none !important;
}
.composer-tag-single {
  border: 1px solid #b0b0b0 !important;
}
.single-email{
  box-shadow: none !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: var(--secondary-bg-color) !important;
  transition: 0.2s;
}
.dropdown-divider {
  border-top: 1px solid var(--secondary-bg-color) !important;
}

.search-drop a {
  color: #fff !important;
  transition: 0.2s;
}

.search-drop a:hover {
  color: var(--main-text-color) !important;
  transition: 0.2s;
}

.load-board::before {
  background: #b0b0b0 !important;
}
.load-sidebar::before {
  background: #b0b0b0 !important;
}

.load-bottom {
  background: #b0b0b0 !important;
}

.body {
  filter: brightness(0.8);
}

.comp-btn img {
  background: var(--main-bg-color);
}

li[data-done="true"]>.todo-checkbox {
  background-color: #fff !important;
}

.todo-checkbox {
  border: 2px solid #fff !important;
}

.unread .body {
  filter: brightness(1.2) !important;
}
.fromto-info {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.email:hover {
  transition: 0.2s;
  background: var(--secondary-bg-color);
  filter: brightness(0.9);
}

.account:hover {
  filter: brightness(1.2) !important;
  transition: 0.2s;
}

.thread-count {
  background: var(--secondary-bg-color) !important;
}

.email-footer img {
  opacity: 1 !important;
}

.email-footer img:hover {
  opacity: 0.8 !important;
}

.add-board {
  background: var(--main-bg-color) !important;
}
.options img:hover {
	filter: brightness(2);
  opacity: 1;
	transition: 0.2s;
}
.header {
  box-shadow: 8px 1px 10px #0000002e !important;
}
.announce a {
	color: #fff !important;
}

.composer-active img {
  filter: brightness(1.8);
}
.compose-bottom {

    box-shadow: inset 0px 9px 20px 20px rgba(0, 0, 0, 0.15) !important;
}
.bottom {
  border-top: 1px solid var(--secondary-bg-color) !important;
}

.amsify-suggestags-input-area {
  border-bottom: 1px solid var(--secondary-bg-color) !important;
}

.boards-container {
  box-shadow: none !important;
}

.sortable-drag {
  box-shadow: 0 6px 15px 1px #00000052 !important;
}

.email-footer {
  box-shadow: inset 5px 22px 40px -20px #00000073 !important;
}

.sidebar {
  box-shadow: 3px 4px 10px #00000040 !important;
}

.empty,
.empty2 {
  box-shadow: none !important;
  background: var(--secondary-bg-color) !important;
}

.sidebar-collapse img {
  filter: invert(1);
}

.control-bar h1 {
  filter: invert(1);
}

.aiko-toast {
  box-shadow: 7px 1px 5px 3px #00000021 !important;
}

.aiko-toast p {
  color: #fff !important;
}

.aiko-toast a {
  color: #fff !important;
}

.aiko-toast a:hover {
  color: #fff !important;
}

.t-loader span {
  background: #fff !important;
}