/* Base Variables */

:root {
  /* Brand color */
  --primary-color: #486fff;
  --primary-color-hover: #4366e8;

  /* Background colors (Application, elements and windows) */
  --primary-background-color: #1e212a;
  --secondary-background-color: #0c0e13;

  --primary-background-color-hover: #14161b;
  --secondary-background-color-hover: #21201d;

  --modal-backdrop: #000000b3;

  /* Fonts */
  --primary-font: "";
  --primary-font-color: #929aad;
  --strong-font-color: #ffffff;
  --body-font-size: 14px;
  --small-font-size: 13px;

  /* Buttons */
  --btn-font-size: 14px;
  --btn-font-weight: 500;

  /* Border Radius */
  --primary-border-radius: 5px;

  /* Changes the color fo all icons */
  --icon-filter: invert(66%) sepia(14%) saturate(350%) hue-rotate(184deg) brightness(91%) contrast(88%);

  /* Shadows */
  --sidebar-shadow: 3px 50px 10px #00000040;
  --header-shadow: 8px 1px 10px #0000002e;
  --board-shadow: 0 0 15px #00000024;
  --modal-shadow: 0 0 75px -10px #00000047;
  --email-bottom-shadow: inset 5px 22px 40px -20px #00000073;
}

@media screen and (prefers-color-scheme: light) {

  /* Light theme Variables */
  :root {
    /* Background colors (Application, elements and windows) */
    --primary-background-color: #d6e1f0;
    --secondary-background-color: #ffffff;

    --primary-background-color-hover: #bbc9dc;
    --secondary-background-color-hover: #21201d;

    --modal-backdrop: #ffffff7d;

    /* Fonts */
    --primary-font: "";
    --primary-font-color: #515688;
    --strong-font-color: #282c4c;

    /* Changes the color fo all icons */
    --icon-filter: invert(31%) sepia(7%) saturate(3361%) hue-rotate(197deg) brightness(101%) contrast(84%);

    /* Shadows */
    --sidebar-shadow: none;
    --header-shadow: none;
    --board-shadow: none;
    --modal-shadow: box-shadow: 0 0 75px -10px #00408547;
    --modal-special-background: #e1e7f7cc;
    --email-bottom-shadow: inset 5px 30px 10px -30px #00000017 !important;
  }
  #app {
    overflow: hidden;
    user-select: none;
    background-position: top;
    background-size: cover;
  }
  .modal {
    background: var(--modal-special-background);
  }
  .email-card:hover {
    filter: brightness(0.97) !important;
  }
}