<!-- AIKO MAIL, INC. ALL RIGHTS RESERVED -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Aiko AI">
    <title>Compose</title>
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/composer.css">
    <script src="assets/js/third-party/jquery.min.js"></script>
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
</head>

<!-- TODO: Make it so that when they close this window, but typed something, system asks "Save as draft?"-->

<body class="bg">
    <div id="app" class="inline-flex" style="padding-top: 20px;">
        <!-- THEMES GO HERE -->
        <link v-if="isDarkMode" rel="stylesheet" href="assets/css/dark.css">

        <div id="fixed" class="loader-6 center-loader"></div>

        <!-- CONTROL BAR -->
        <div :class="{'control-bar': true,'pc': isPC,}" v-if="!isFullScreen">
            <p v-if="isLinux" title="Close" @click="close"></p> <!-- Close ------------------------>
            <p v-if="isLinux" title="Minimize" @click="minimize"></p> <!-- Minimize ------------------------>
            <p v-if="isLinux" title="Full Screen" @click="fullscreen"></p> <!-- Full Screen ------------------------>

            <h1 title="Minimize" @click="minimize"><img src="assets/icons/top-minimize.png" width="10"></h1>
            <!-- Minimize ---------->
            <h1 v-if="!isMaximized" title="Maximize" @click="maximize"><img src="assets/icons/top-expand.png"
                    width="10">
            </h1>
            <h1 v-if="isMaximized" title="Unmaximize" @click="unmaximize"><img src="assets/icons/top-expand.png"
                    width="10">
            </h1>
            <!-- Maximize -->
            <h1 title="Close" @click="close"><img src="assets/icons/top-close.png" width="10"></h1>
            <!-- Close ---------------->
        </div>

        <!-- START Compose View -->
        <div class="standalone">
            <div class="main-email">
                <input type="text" name="composerField" value="hi" placeholder="To">
                <input type="text" name="composerField" value="hello" placeholder="CC">
                <input type="text" name="composerField" value="ruben@pri.com" placeholder="BCC">

                <div class="amsify-suggestags-input-area amsify-suggestags-input-area-default" style="padding: 5px;">
                    <input type="text" class="amsify-suggestags-input" placeholder="Subject" autocomplete="off">
                </div>

                <div class="compose-body">
                    <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
                        <div class="menubar">
                            <div class="comp-sep">
                                <a class="comp-btn"><img src="assets/icons/bold.svg" width="20"></a>
                                <a class="comp-btn"><img src="assets/icons/italic.svg" width="20"></a>
                                <a class="comp-btn"><img src="assets/icons/underline.svg" width="20"></a>
                            </div>
                            <div class="comp-sep">
                                <a class="comp-btn"><img src="assets/icons/bold.svg" width="20"></a>
                                <a class="comp-btn"><img src="assets/icons/italic.svg" width="20"></a>
                                <a class="comp-btn"><img src="assets/icons/underline.svg" width="20"></a>
                            </div>
                            <a class="comp-btn"><img src="assets/icons/bold.svg" width="20"></a>
                            <a class="comp-btn"><img src="assets/icons/italic.svg" width="20"></a>
                            <a class="comp-btn"><img src="assets/icons/underline.svg" width="20"></a>
                        </div>
                    </editor-menu-bar>
                    <editor-content class="editor" :editor="editor"></editor-content>
                </div>

                <div class="compose-bottom">
                    <a><img src="assets/icons/compose-send.svg" width="20"><span> Send</span></a>
                    <label class="switch ml20">
                        <input type="checkbox">
                        <span class="slider round eye"></span>
                    </label>
                    <p class="inline ml5">Track email open</p>
                </div>
            </div>
            <div class="secondary-email" style="padding-top: 25px">
                <h3>Reply with a template</h3>
                <div class="previous-threads">
                    <!-- TODO: This is the template for sidebar templates teehee-->
                    <div class="email tempside" style="display: none;">
                        <div class="container pr" data-toggle="modal" data-target=".email1">
                            <div class="row" style="user-select: none;">
                                <div class="col-8 p0" style="display: inline-flex;">
                                    <p class="subject">Sales reply 1</p>
                                </div>
                                <p class="body">Hi John, I'm aware you choose to do all development in-house, however, I
                                    am the head of a Ukrainian dev-shop, which is the best in the world i think.</p>
                            </div>
                        </div>
                    </div>

                    <!-- TODO: This is the empty state 'no template' teehee the link should go to template tab in settings-->
                    <a style="margin-top: 25vh;display: block;" target="_blank"><img
                            src="assets/icons/settings-templates.svg" width="18" style="margin-top: -1px;">
                        <p class="inline"><b>New template</b></p>

                        <p>Add email templates in settings to reply to future emails in one click.</p>
                    </a>

                </div>
            </div>
        </div>
        <!-- END Compose View --------------------------------------->

        <!-- START Toast -->
        <!-- Connection Lost Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We're having trouble connecting to the internet.</h1>
        </div>
        <!-- END Connection Lost Toast-->

        <!-- IMAP Error Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We're having issues connecting to your mail provider.</h1>
        </div>
        <!-- END IMAP Error Toast-->

        <!-- Send Email Error Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We were unable to send your message due to network issues.</h1>
        </div>
        <!-- END Send Email Error Toast-->
        <!-- END Toast --------------------------------------->

        <!-- TODO: Rig UPGRADE MODAL - TRACKER -->
        <div class="aiko-modal" style="display: none;">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <img src="assets/icons/grey-x.svg" class="x-email">
                    <div class="modal-reg">
                        <img v-if="isDarkMode" src="assets/img/logo-white.svg" width="140"
                            style="margin-bottom: 15px;margin-top:10px">
                        <img v-if="!isDarkMode" src="assets/img/logo.svg" width="140"
                            style="margin-bottom: 15px;margin-top:10px">
                        <h1>You found a premium feature.</h1>
                        <img v-if="isDarkMode" src="assets/img/u-track-black.png" width="200">
                        <img v-if="!isDarkMode" src="assets/img/u-track-white.png" width="200">
                        <br><br>
                        <p style="max-width: 300px;margin: auto;margin-bottom: 10px;">Enable <b>email trackers</b> to be
                            notified when your recipient has opened your email.</p><br> <br>
                        <div class="modal-bottom">
                            <a class="blue">Get Started</a>
                        </div>
                        <p class="ns30"></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO: Rig UPGRADE MODAL - TEMPLATES TEEHEE -->
        <div class="aiko-modal" style="display: none;">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <img src="assets/icons/grey-x.svg" class="x-email">
                    <div class="modal-reg">
                        <img v-if="isDarkMode" src="assets/img/logo-white.svg" width="140"
                            style="margin-bottom: 15px;margin-top:10px">
                        <img v-if="!isDarkMode" src="assets/img/logo.svg" width="140"
                            style="margin-bottom: 15px;margin-top:10px">
                        <h1>You found a premium feature.</h1>
                        <img v-if="isDarkMode" src="assets/img/u-template-black.png" width="280">
                        <img v-if="!isDarkMode" src="assets/img/u-template-white.png" width="280">
                        <br><br>
                        <p style="max-width: 300px;margin: auto;margin-bottom: 10px;">Prepare email templates to reply
                            to future emails in just one click.</p><br> <br>
                        <div class="modal-bottom">
                            <a class="blue">Get Started</a>
                        </div>
                        <p class="ns30"></p>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END id="app" -------------------------------------------------->


    <!-- 3rd party libraries -->
    <script src="assets/js/third-party/popper.min.js"></script>
    <script src="assets/js/third-party/jquery.amsify.suggestags.js"></script>
    <script src="assets/js/third-party/bootstrap.min.js"></script>
    <script src="assets/js/third-party/jwt-decode.min.js"></script>
    <script src="assets/js/third-party/jsrsasign.min.js"></script>
    <script src="assets/js/third-party/localforage.min.js"></script>
    <script src="assets/js/third-party/vue.min.js"></script>
    <script src="assets/js/third-party/chrono.min.js"></script>
    <script src="assets/js/third-party/tiptap.min.js"></script>

    <!-- TODO: minify all sources into one js file -->
    <!-- common libraries -->
    <script src="assets/js/common/utils.js"></script>
    <script src="assets/js/common/small-storage.js"></script>
    <script src="assets/js/common/big-storage.js"></script>
    <script src="assets/js/common/only-electron.js"></script>
    <script src="assets/js/common/ai-core.js"></script>
    <!-- services -->
    <script src="assets/js/services/ipc.js"></script>
    <script src="assets/js/services/aiko.js"></script>
    <script src="assets/js/services/window.js"></script>
    <script src="assets/js/services/goauth.js"></script>
    <script src="assets/js/services/composer.js"></script>
    <!-- templates -->
    <!-- TODO: components -->
    <!-- main/entrypoint -->
    <script src="assets/js/compose.js"></script>

    <!-- TODO: suggestions -->
    <script type="text/javascript">
        $('input[name="composerField"]').amsifySuggestags({
            type: 'amsify',
            suggestions: [{
                    'tag': 'ruben@priansh.com',
                    'value': 1
                },

                {
                    'tag': 'rubtouit@yahoo.fr',
                    'value': 2
                },
            ]
        });
    </script>


</body>

</html>