<!-- AIKO MAIL, INC. ALL RIGHTS RESERVED -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Aiko AI">
    <title>Compose</title>
    <link rel="icon" href="assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/dark.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="assets/js/third-party/jquery.min.js"></script>
    <script>
        window.jQuery = window.$ = require('jquery');
    </script>
</head>

<!-- TODO: Make it so that when they close this window, but typed something, system asks "Save as draft"-->

<body class="bg">
    <div id="app" class="inline-flex" style="padding-top: 20px;">
        <!-- THEMES GO HERE -->
        <link v-if="isDarkMode" rel="stylesheet" href="assets/css/dark.css">
        <!-- TODO: Rig LOADER 
        <div id="fixed" class="loader-6 center-loader"></div> -->
        <!-- TODO: Rig CONTROL BAR 
        <div :class="{'control-bar': true,'pc': isPC,}" v-if="!isFullScreen">
            <p v-if="isLinux" title="Close" @click="close"></p> 
            <p v-if="isLinux" title="Minimize" @click="minimize"></p> 
            <p v-if="isLinux" title="Full Screen" @click="fullscreen"></p>              

            <h1 title="Minimize" @click="minimize"><img src="assets/icons/top-minimize.png" width="10"></h1>
            <h1 v-if="!isMaximized" title="Maximize" @click="maximize"><img src="assets/icons/top-expand.png"
                    width="10">
            </h1>
            <h1 v-if="isMaximized" title="Unmaximize" @click="unmaximize"><img src="assets/icons/top-expand.png"
                    width="10">
            </h1>
            <h1 title="Close" @click="close"><img src="assets/icons/top-close.png" width="10"></h1>
        </div>
        -->
        <div class="standalone">
            <div class="main-email">
                <input type="text" name="composerField" value="hi" placeholder="To">
                <input type="text" name="composerField" value="hello" placeholder="CC">
                <input type="text" name="composerField" value="ruben@pri.com" placeholder="BCC">

                <div class="amsify-suggestags-input-area amsify-suggestags-input-area-default" style="padding: 5px;">
                    <input type="text" class="amsify-suggestags-input" placeholder="Subject" autocomplete="off">
                </div>

                <div class="compose-options">
                    <div class="compose-bold" type="file" name="myFile"><img src="assets/icons/bold.svg" width="16">
                    </div>
                    <div class="compose-italic" type="file" name="myFile"><img src="assets/icons/italic.svg" width="16">
                    </div>
                    <div class="compose-attach" type="file" name="myFile"><img src="assets/icons/compose-attach.svg"
                            width="16"></div>
                </div>
                <div id="composerMsg" class="compose-body" contenteditable="true" data-text="Message"></div>
                <div class="compose-bottom">
                    <a href="#"><img src="assets/icons/compose-send.svg" width="20"><span> Send</span></a>
                    <label class="switch ml20">
                        <input type="checkbox">
                        <span class="slider round eye"></span>
                    </label>
                    <p class="inline">Track open email</p>
                </div>
            </div>
            <div class="secondary-email">
                <a href="#" class="no-calendar">
                    <h1><img src="assets/icons/badges-event.svg"> Connect your calendar</h1>
                </a>
            </div>

        </div>
        <!-- END Compose View --------------------------------------->

        <!-- Connection Lost Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We're having trouble connecting to the internet.</h1>
        </div>
        <!-- END Connection Lost Toast-->

        <!-- IMAP Error Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We're having issues connecting to your mail provider.</h1>
        </div>
        <!-- END IMAP Error Toast-->

        <!-- Send Email Error Toast -->
        <div class="aiko-toast" style="background-color: red;display: none;">
            <h1>We were unable to send your message due to network issues.</h1>
        </div>
        <!-- END Send Email Error Toast-->
        <!-- END Toast --------------------------------------->

    </div>
    <!-- END id="app" -------------------------------------------------->
    <script src="assets/js/third-party/popper.min.js"></script>
    <script src="assets/js/third-party/bootstrap.min.js"></script>
    <script src="assets/js/third-party/jquery.amsify.suggestags.js"></script>


    <script type="text/javascript">
        $('input[name="composerField"]').amsifySuggestags({
            type: 'amsify',
            suggestions: [{
                    'tag': 'ruben@priansh.com',
                    'value': 1
                },

                {
                    'tag': 'rubtouit@yahoo.fr',
                    'value': 2
                },
            ]
        });
    </script>


</body>

</html>